.header-section {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
}

.dr-bg {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: row;
    background-color: #cee9e3;
}

.dr-img {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* background-position: center; */
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/public/images/dr-image.png);

}

.h {
    margin-top: 12%;
    margin-right: 380px;
    /* right: 400px; */
    /* margin: 50%; */
    width: 299px;
    height: 52px;
    font-family: 'Unna';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    /* identical to box height */
    /* background-color: aqua; */
    position: relative;
    letter-spacing: 0.1em;

    color: #000000;
}

.right-container {
    position: relative;
    justify-content: center ;
    align-items: center;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-around; */
    /* background-color: aqua; */

}

.login-container {
    position: absolute;
    width: 65%;
    height: 45%;
    /* right: 300px; */
    opacity: 1;
    background: #87d8ea;
    border: 1px solid #000000;
    box-shadow: 15px 10px 10px 10px rgba(0, 6, 54, 0.5);
    border-radius: 30px;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-justify: auto; */
    /* justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: contain; */

}

